
  
  .sidebar{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 12%;
  }
  .dashBoardContainer{
    display: flex;
  }
  .newAssignmentBtn{
    border-radius: 20px;
    width: max-content;
    height: 5px;
    background-color: #4fd1c5;
  }

  .card{
   /* border: 2px solid red; */
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;   
    flex-direction: column; 
    /* width: 140px;
    height: 140px; */
    background-color: #4fd1c5;
    color: white;
  }
  .newAssignmentText{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    background-color: #4fd1c5;

  }
  .selectFromText{
    font-size: 8px;
    background-color: #4fd1c5;
  }
  .dashBoardContainer{
    display: flex;
    /* justify-content: space-evenly; */
    gap:20px;
    align-items: center;
    padding:8px;
    font-size: 10px;
    font-weight: bold;
  }